[report]
show_missing = True

[run]
disable_warnings = include-ignored
include = */ablkit/*
omit =
	*/ablkit/__init__.py
	ablkit/bridge/__init__.py
	ablkit/data/__init__.py
	ablkit/learning/__init__.py
	ablkit/reasoning/__init__.py
	ablkit/utils/__init__.py